* {
    font-family: Helvetica;
}

.container {
    width: 550px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.current-events {
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    text-align: center;
}

.timeline-event {
    line-height: 24px;
}

@-webkit-keyframes slide-out {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -48px);
    }
}

.animate-out {
    -webkit-animation: slide-out 0.75s linear;
}

.timeline-paused {
    -webkit-animation-play-state: paused;
}

.scrubber {
    border-radius: 2px;
    height: 5px;
    width: 100%;
}

.scrubber[value]::-webkit-progress-bar {
    background-color: #eee;
}

.scrubber[value]::-webkit-progress-value {
    background-color: #222;
}

.controls .play-button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
